.cabecera{
   background-color: rgb(243, 243, 243);
   position: fixed;
   width: 100%;
   top: 0;
   left: 0; 
}
.cabecera__nombre{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    border: 0.1px solid black;
    padding: 10px;
}

/*.cabecera__contenido{
    background: url(../imagenes/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: space-between;
}*/
.cabecera__titulo--nombre{
    font-size: 1.20rem;
}

@media screen and (max-width: 500px){
    .cabecera{
        position: fixed;
        width: 100%;
        top: 0;
     }
     .cabecera__nombre{
         max-width: 100%;
         margin: auto;
         display: flex;
         align-items: center;
         border: 0.1px solid black;
         padding: 10px 0 10px 250px;
     }
}



