.cabecera{
   background-color: rgb(243, 243, 243);
   position: fixed;
   width: 100%;
   top: 0;
   left: 0; 
}
.cabecera__nombre{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(248, 246, 246);
}

.cabecera__titulo--nombre{
    font-size: 1.20rem;
    margin-left: 20px;
}

@media screen and (max-width: 480px){
    .cabecera__nombre{
        padding: 1px 0 1px 100px;
    }
    .cabecera__titulo--nombre{
        font-size: 15px;
    }
}
@media screen and (min-width: 500px){
       .cabecera__nombre{
           padding: 0;
       }
}





