.seccion__sobremi{
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}
.sobremi{
    display: flex;
    padding: 10% 0 0% 5%;
}
.sobremi__subtitulo{
    font-size: 3vw;
}
.sobremi__descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1% 0 3% 5%;
    width: 70%;
}
.sobremi__descripcion--texto{
    font-size: 1.3vw;
    line-height: 1.5rem;
}
.sobremi__firma--img{
    width: 60%;
    padding: 1%;
}
@media screen and (orientation: landscape) and (max-width: 1030px){
    .sobremi__subtitulo{
        margin-top: 20px;
    }
    .sobremi__descripcion{
        width: 90%;
    }
    .sobremi__descripcion--texto{
        font-size: 2vw;
    }
    .sobremi__firma--img{
        width: 70%;
        margin-top: 20px;
    }
}
@media screen and (orientation: portrait) and (max-width: 780px){
    .sobremi{
        padding: 20% 0 0% 2%;  
    }
    .sobremi__subtitulo{
        font-size: 5vw;
        padding-top: 30px;
    }
    .sobremi__descripcion{
        padding: 1% 0 3% 2%;
        width: 90%;
    }
    .sobremi__descripcion--texto{
        font-size: 3vw;
        line-height: 2.5rem;
    }
    .sobremi__firma{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 30px;
    }
    .sobremi__firma--img{
        width: 80%;
    }
}
@media screen and (orientation: landscape) and (max-width: 900px){
    .sobremi__subtitulo{
        margin-top: 20px;
    }
    .sobremi__descripcion{
        width: 90%;
    }
    .sobremi__descripcion--texto{
        font-size: 2vw;
    }
    .sobremi__firma--img{
        width: 50%;
    }
}
@media screen and (orientation: portrait) and (max-width: 420px){
    .sobremi{
        padding: 30% 0 0% 2%;  
    }
    .sobremi__subtitulo{
        font-size: 5vw;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .sobremi__descripcion{
        padding: 1% 0 3% 2%;
        width: 90%;
    }
    .sobremi__descripcion--texto{
        font-size: 3vw;
        line-height: 1.3rem;
    }
    .sobremi__firma{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 83px;
    }
    .sobremi__firma--img{
        width: 40%;
    }
}




