body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner__presentacion--foto{
    padding: 9em 0;
    width:100%;
    margin: 0 auto;
    background: url(../imagenes/banner.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: auto;   
}
.foto{
    float: right;
    width: 25%;
    margin: 0 10% 0 0;
    border-radius: 100%;
}
.texto{
    width: 70%;
}
.banner__subtitulo{
    font-size: 40px;
    line-height: 1.5em;
    margin: 0 5% 0 10%;
}
.banner__texto1{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 0 5% 0 10%;
}
.banner__texto2{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 0 5% 0 10%;
}
.banner__menu--redes{
    display: flex; 
    margin: 3% 0 0 6%;  
}
.banner__lista--redes{
    list-style: none;
    padding: 0 20px
}
.banner__link--redes{
    color: #252424;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.banner__link--redes:hover{
    text-decoration: underline;
}
.banner__redes--icono{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    .texto{
        width: 100%;
    }
    .foto{
        float:none;
        margin-left: 5%;
    }
    .banner__subtitulo{
        font-size: 22px; 
        margin-left: 5%;  
    }
    .banner__texto1{
        font-size: 18px;
        padding: 0 2% 0 5%;       
    }
    .banner__texto2{
        font-size: 15px;
        padding: 0 2% 0 5%; 
    }
    .banner__menu--redes{
        margin: 3% 0 0 5%;  
    }
    .banner__link--redes{
        font-size: 15px;
        
    }
    .banner__lista--redes{
        padding: 25px 6% 0 0;
    } 
}


