.seccion__skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}
.skills__subtitulo{
    font-size: 50px
}
.skills__contenido--menu{
    width: 100%;
    display: flex;
    padding: 0 1%;
}
.skills__menu{
    width: 100%;
    height: auto;
    display: flex;
    margin: 5%;
    padding: 0 2%;
    flex-wrap: wrap;
}
.skills__lista{
    width: calc((100% / 6) - (16px + 2px));
    /*min-width: calc((100% / 3) - (16px + 2px));*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 0 15px;
    border: 1px solid;
    margin: 8px;
    padding-bottom: 25px;    
}
.skills__nombre{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: bold;
    padding: 0 1%;
    top: 0;
}
.iconos__logos{
    font-size: 100px;
    margin-bottom: 20px;
}
.logo--git, .logo--github{
    font-size: 6vw;
    margin: 20px 0;
}
.skills__certificados{
    font-size: 1.5vw;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #222121;
    padding: 3px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.skills__certificados:hover{
    /*text-decoration: underline;*/
    color: rgb(65, 61, 61);
    font-weight: bolder;
}
.img-logo{
    width: 65%;
    margin-bottom: 10px;
}

@media screen and (orientation: landscape) and (max-width: 1030px){/*1380*/
    .seccion__skills{
        margin-top: 13%;
        margin-bottom: 13%;
    }
    .logo--git, .logo--github{
        font-size: 6.5vw;
        margin-bottom: 34px;
    }
    .img-logo{
        width: 79%;
        margin-bottom: 18px;
    }
}

@media screen and (orientation: portrait) and (max-width: 780px){
    .seccion__skills{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .skills__contenido--subtitulo{
        margin-bottom: 25%;
    }
    .skills__lista{
        width: calc((100% / 3) - (16px + 2px));
    }
    .logo--git, .logo--github{
            font-size: 9vw;
    }
    .skills__nombre{
        font-size: 3vw;
    }
    .img-logo{
        width: 54%;
    }
    .skills__certificados{
        font-size: 2vw;
    }
}

@media screen and (orientation: landscape) and (max-width: 900px){
    .seccion__skills{
        margin-top: 5%;
    }
    .skills__lista{
        width: calc((100% / 3) - (16px + 2px));
    }
    .skills__nombre{
        font-size: 3vw;
    }
    .logo--git, .logo--github{
        font-size: 8vw;
    }
    .img-logo{
        width: 46%;
    }
    .skills__certificados{
        font-size: 2vw;
    }
}

@media screen and (orientation: portrait) and (max-width: 420px){
    .skills__lista{
        width: calc((100% / 2) - (16px + 2px));
    }
    .iconos__logos {
        font-size: 20vw;
    }
    .logo--git, .logo--github{
        font-size: 13vw;
    }
    .skills__nombre {
        font-size: 5vw;
    }
    .skills__certificados{
        font-size: 4vw;
    }
}

